@font-face {
				font-family: Handwriting;
				src: url(/fonts/MyHandwriting.otf) format("opentype");
			}
.testDiv {
    background-color: white;
	border-radius: 5px;
	text-align: center;
	margin: 0.5%;
	padding: 5%;
    }
.headingDiv {
	background-color:aliceblue;
	padding: 1%;
	border-radius: 5px;
	text-align: center;
	margin: auto;
}

#wrapper {
	position: relative;
	display: grid;
	margin: auto;
	max-width: 1200px;
	grid-template-areas:
	"header header header"
	"updates info nav";
	grid-template-columns: 20% 65% 15%;
	gap: 10px;
	padding: 20px 75px 20px 20px;
}

#intro {
	grid-area: info;
}

nav {
	grid-area: nav;
}

header {
	grid-area: header;
}

body {
		background-image: url('background.png');
		font-family: 'Handwriting';
	}
@media only screen and (max-width: 1100px) {

	#current,
	#updates,
	#nav {
		width: auto;
		height: auto;
		margin: 0;
	}
	#wrapper {
		grid-template-columns: 25% 50% 25%;
	}
}
@media only screen and (max-width:760px) {

	#current,
	#updates,
	#nav {
		margin: 40px 0px;
	}

	#nav {
		text-align: center;
	}

	#nav a {
		display: inline-block;
	}

	#updates {
		height: 300px;
	}

	#wrapper {
		display: block;
		padding: 0px;
		margin: 20px;
	}
}