@font-face {
				font-family: PopJoy;
				src: url(/fonts/PopJoy.otf) format("opentype");
				font-family: Handwriting;
				src: url(/fonts/MyHandwriting.otf) format("opentype");
			}
.testDiv {
    background-color: white;
	border-radius: 20px;
	text-align: center;
	padding: 5%;
	margin: 1%;
    }
.headingDiv {
	background-color:aliceblue;
	padding: 1%;
	border-radius: 15px;
	text-align: center;
	margin: auto;
}
.grid-container {
	display: grid;
	grid-template-columns: 20% 60% 20%;
}
body {
		background-image: url('background.png');
		font-family: 'Handwriting';
	}