@font-face {
				font-family: PopJoy;
				src: url(/fonts/PopJoy.otf) format("opentype");
				font-family: Handwriting;
				src: url(/fonts/MyHandwriting.otf) format("opentype");
			}
.testDiv {
    background-color: white;
    }
.headingDiv {
	background-color:aliceblue;
	border-radius: 10px;
}
body {
		background-image: url('background.png');
		font-family: 'Handwriting';
	}