@font-face {
    font-family: Handwriting;
    src: url(/fonts/MyHandwriting.otf) format("opentype");
}

body {
    font-family: Handwriting;
    background-image: url("./stone.png");
    display: flex;
    justify-content: center;
}

#wrapper {
	position: relative;
	display: grid;
	margin: auto;
	max-width: 1200px;
	grid-template-areas:
	"updates info nav";
	grid-template-columns: 20% 65% 15%;
	gap: 10px;
	padding: 20px 75px 20px 20px;
}

.portal-container {
    position: relative;
}

.open-portal-door {
    position: absolute;
    left: 0px;
}

.form-div {
    background-color: rgb(116, 98, 75);
    border: 1rem solid;
    border-color:rgb(39, 29, 16);
    padding: 5vh;
    width: 40vh;
    display: grid;
    margin: auto;
}