@font-face {
    font-family: Handwriting;
    src: url(/fonts/MyHandwriting.otf) format("opentype");
}

body {
    font-family: Handwriting;
    background-image: url("./stone.png");
    max-width: fit-content;
    margin-inline: auto;
    min-width: 280px;
}

.portal-container {
    position: relative;
    margin-bottom:1vh;
}

.open-portal-door {
    position: absolute;
    left: 0px;
    opacity: 0;
}

.open-portal-door:hover {
    opacity: 1;
}

.form-div {
    background-color: rgb(150, 139, 127);
    border: 1rem solid;
    border-color:rgb(102, 91, 78);
    padding: 5vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 740px) {
    .form-div {
        width: 60vw;
    }
    .portal-container {
        scale: 80%;
    }
}

@media only screen and (max-width:400px) {
    .form-div {
        width: 80vw;
    }
}